html {
	font-family: "Lucida Console", Monaco, monospace;
	font-size: 13px;
}
#whereami {
font-family: "Lucida Console", Monaco, monospace;
font-size: 35px;
letter-spacing: 2px;
word-spacing: 2px;
color: #007FFF;
font-weight: normal;
text-decoration: none;
font-style: normal;
font-variant: normal;
text-transform: none;
}
body {background:#6e6b6a;}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  border-radius: 25px;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}
